
<!-- * Que hacen c/u de las clases de Bootstrap?

* "bg-dark": establece un fondo de color oscuro en un elemento.
             Colores predefinidas en Bootstrap.

* "border-right": agrega un borde a la derecha de un elemento.
                  Esto ayuda a separar los elementos y se visualice mejor.
*                 Aunque "border-right" esta deprecated y habria que usar "border-end"
                  FUENTE: https://getbootstrap.com/docs/5.3/migration/#utilities-3

* "p-3": agrega relleno (padding) a un elemento.
         En Bootstrap, las clases de relleno se nombran utilizando el formato "p-{valor}",
         donde "{valor}" es un número del 1 al 5 que indica la cantidad de relleno que se debe aplicar.
         En este caso, "p-3" agrega un relleno moderado alrededor del elemento (1 rem = 16px).

* "text-light": cambia el color del texto a un tono claro -> blanco

* "list-group": agrupa elementos en una lista vertical.
                Usa display flex column. Todos los elementos van a ocupar el ancho total del contenedor.
                Están diseñadas p/ ser utilizadas como listas de elementos interactivos, como una lista de enlaces o elementos seleccionables.
                Se debe aplicar a un elemento contenedor (por lo general, un <ul> o un <div>).

* "list-reset": lo busque en bootstrap y no lo encontre, tampoco por Google. ChatGPT me dijo que no existe...
                Lo busque primero en el inspeccionador y no lo encontre... Estoy 99% seguro que no existe o quedo deprecated.
                Raro que no encontre registro en Bootstrap notificandolo, como con la clase "border-right"

* "list-group-item": estiliza el elemento dandole un fondos blanco, padding y bordes redondeados.
*                    Se usa en cada uno de los elementos que componen una lista, por eso mismo se usa en
*                    combinacion con la otra clase de bootstrap "list-group".
                     Los bordes, si el elemento es unico, tiene las 3 esquinas redondeadas, si tiene otros elementos debajo,
                     los quita, osea quedan cuadrados, todos menos los bordes superiores del 1ª elemento y los inferiores del ultimo.

* list-group-item-action": Tira el contenido del elemento hacia el costado izquierdo, le agrega un hover y un inactive.
                           No hace falta usarlo junto con la clase "list-group-item", pero va a quedar feito el boton jajaj
                           Hay que combinarlos!
 -->

<div class="bg-dark border-end p-3" id="sidebar">

  <h3 class="text-light">GifsApp</h3>
  <hr class="text-light">

<!--   <div class="list-group list-reset">
    <button class="list-group-item list-group-item-action">
      Valorant
    </button>

  </div> -->

  <div class="list-group list-reset py-1">

    <button (click)="searchTagAgain(tag)" *ngFor="let tag of tags" class="list-group-item list-group-item-action">
      <!-- {{ tag | uppercase }} --> <!--* Transforma el string en MAYUSCULAS. Pero sin modificar la data real, con el pipe | -->
      {{ tag | titlecase }} <!--* vuelve Mayuscula solo a la primera letra de las palabras. Tambien usando el pipe  -->
    </button>

  </div>

</div>



