
<!-- *  "d-flex": clase de bootstrap para hacer -> display: flex;
                 Recordar que por default, el flexbox, es una fila. Por lo tanto, todos los elementos que agreguemos,
                 se posicionaran uno al lado del otro.
                 Y por default tambien, la altura de cada elemento, se adaptara a la altura del contenedor. Es decir,
                 si un elemento es display inline, este se estirara en lo alto.

*       "flex-fill": rellena el espacio libre. Como es un d-flex, y el sidebar ocupa 250px, este elemento va a ocupar todo
*                    el resto de la pantalla
-->

<div class="d-flex">
  <!-- SideBar -->
  <shared-sidebar></shared-sidebar>

  <!-- Home Page -->
  <gifs-home-page class="flex-fill"></gifs-home-page>
</div>
