<div class="row">
  <!-- * Bootstrap utiliza un sistema de cuadrícula basado en columnas y clases para controlar cómo se deben mostrar
       * los elementos en diferentes tamaños de pantalla. Divide la página en 12 columnas por defecto.


  * "col-md-3": significa que en dispositivos medianos (como tablets y pantallas más grandes), el elemento ocupará 3 columnas
  *             del ancho disponible. Este elemento ocupará el 25% del ancho del contenedor (3 de 12 columnas).

  * "col-sm-6": significa que en dispositivos pequeños (como teléfonos móviles), el elemento ocupará 6 columnas del ancho disponible.
  *             Este elemento ocupa el 50% del ancho del contenedor en dispositivos pequeños (6 de 12 columnas).

  * "card": crear una tarjeta con BootStrap. Tiene varias clases que complementan a esta: "card-boy", "card-title", "card-text".
    FUENTE: https://getbootstrap.com/docs/5.3/components/card/#about

   -->

  <gifs-card
    *ngFor="let gif of gifs"
    [gif]="gif"
    class="col-md-3 col-sm-6"
  ></gifs-card>

</div>

<!-- <div class="row">
  <div *ngFor="let gif of gifs" class="col-md-3 col-sm-6">

    <div class="card mb-2 text-center bg-dark">

      <img [src]="gif.images.downsized_medium.url" [alt]="gif.title">

      <div class="card-body text-white">
        <p>
          {{ gif.title }}
        </p>
      </div>

    </div>
  </div>
</div> -->
